<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url('<%= cl_image_path @list.image_url.key, height: 300, crop: :fill %>'); background-position: 50% 35%;">
  <div class="container">
    <h1 class="text-center fs-1"><%= @list.name %></h1>
  </div>
</div>

<div class="container">
  <%= link_to new_list_bookmark_path(@list), class:"add-movie d-flex justify-content-center align-items-center btn btn-info mx-auto mt-4" do %>
    <i class="fas fa-plus" style="font-size: 22px; color: #99385D"></i>
    <p class="mb-0 ml-2 font-weight-bold add-movie" style="font-size: 22px; color: #99385D">Add a movie</p>
  <% end %>
</div>

<div class="container my-5">
  <div class="row row-cols-1 row-cols-md-2 row-cols-xl-3  g-4">
    <% @list.bookmarks.each do |bookmark| %>
        <div class="col mb-3">
          <div class="card h-100 card-with-map">
            <img src="<%= bookmark.movie.poster_url%>" class="card-img-size card-img-top" alt="flat image">
            <div class="card-body">
              <h5 class="card-title"><%= bookmark.movie.title %></h5>
              <p class="card-text"><%= bookmark.movie.overview%></p>
              <p class="card-text">Rating: <%= bookmark.movie.rating%>/10</p>
            </div>
            <div class="card-footer">
              <small class="text-muted d-flex justify-content-center">
                <%= link_to bookmark_path(bookmark), method: :delete do %>
                  <i class="icon-delete far fa-trash-alt"></i>
                <% end %>
              </small>
            </div>
          </div>
        </div>
    <% end %>
  </div>
</div>
